
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
overview.docx
DatasetGenerator.ipynb
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
