
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
overview.docx
DatasetGenerator.ipynb
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
.ipynb_checkpoints/FirstNeuralNetworkSolution-checkpoint.ipynb
.ipynb_checkpoints/DatasetGenerator-checkpoint.ipynb
.ipynb_checkpoints/FirstNeuralNetwork - Start Here-checkpoint.ipynb
.ipynb_checkpoints/FirstNeuralNetworkSolution - START HERE-checkpoint.ipynb
